<xsd:element minOccurs="{{value.minOccurs}}" maxOccurs="{{value.maxOccurs}}" name="{{value.xmltag}}"
             type="{{value.namespacePrefix}}:{{value.xmlName}}" dfdl:ref="ibmEdiFmt:EDISegmentFormat"
             dfdl:initiator="{{value.xmltag}}"
             {{#value.occursCountKind}}dfdl:occursCountKind="{{value.occursCountKind}}"{{/value.occursCountKind}}/>