<?xml version="1.0" encoding="UTF-8"?>

<!--***********************************************************************
    * IBM hereby grant permission, to those obtaining a copy of these materials,
    * to use, copy and modify the materials solely for use with DFDL processors.
    * THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND.
    *
    * The United Nations Rules for Electronic Data Interchange for Administration,
    * Commerce and Transport (UN/EDIFACT) can be obtained from the United Nations
    * Economic Commission for Europe (UNECE) website:
    * http://www.unece.org/tradewelcome/areas-of-work/un-centre-for-trade-facilitation-and-e-business-uncefact/outputs/standards/unedifact/directories/download.html
    *
    * For any further reproduction of UN/CEFACT material please contact info.ece@unece.org.
    *
    * © Copyright (1993-2014) United Nations, all rights reserved
    *
    * © Copyright International Business Machines Corporation, 2014
	*
	***********************************************************************
	* Version 1.1.2.0 	EDIFACT-SupplyChain-GitHub-Segments-D.03B.xsd
	*
	* This DFDL schema provides a set of EDI elements and segments for the SupplyChain-GitHub industry
	* of the standard EDIFACT version D.03B for use with DFDL processors.
	*
	* Example use:
	*      <xsd:include schemaLocation="EDIFACT-SupplyChain-GitHub-Segments-D.03B.xsd"/>
	*********************************************************************** -->

<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
            xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions"
            xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
            xmlns:ibmEdiFmt="http://www.ibm.com/dfdl/EDI/Format"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:fn="http://www.w3.org/2005/xpath-functions"
            targetNamespace="http://www.ibm.com/dfdl/edi/un/edifact/SupplyChain/D03B"
            xmlns:D03B="http://www.ibm.com/dfdl/edi/un/edifact/SupplyChain/D03B"
            xmlns:srv="http://www.ibm.com/dfdl/edi/un/service/4.1">

    <xsd:import namespace="http://www.ibm.com/dfdl/EDI/Format" schemaLocation="../EDIFACT-Common/IBM_EDI_Format.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/edi/un/service/4.1"
                schemaLocation="../EDIFACT-Common/EDIFACT-Service-Segments-4.1.xsd"/>

    <xsd:annotation>
        <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format ref="ibmEdiFmt:EDIFormat"/>
        </xsd:appinfo>
    </xsd:annotation>


   {{#segments}}
    <xsd:complexType name="{{getJavaName}}">
        <xsd:sequence dfdl:ref="ibmEdiFmt:EDISegmentSequenceFormat">

        </xsd:sequence>
    </xsd:complexType>
   {{/segments}}

</xsd:schema>
